h1 {
    color:green;
    text-align:center;
    text-decoration:underline;
    text-transform:uppercase;
    font-size: large
    font-family: serif, sen-serif; 
}
h2 {
    color: blue;

}
p {

}
body {
    background-color: aquamarine;
    background-image: url(../images/background-image.jpg);
    background-position: cover;
}